ion-button{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
    margin-bottom: 5%;
}

//div{
//  margin-left: 16px;
//}

//#infos{
//  color: red;
//}
