<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>home5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="divL">
    <ion-label>Nome:</ion-label><br>
    <ion-label>Sexo:</ion-label><br>
    <ion-label>Residência:</ion-label><br>
    <ion-label>Pet</ion-label><br>
    <ion-label>Nascimento:</ion-label><br>
  </div>

  <div id="divR">
    <ion-label>{{dataE.nome}}</ion-label><br>
    <ion-label>{{dataE.sexo}}</ion-label><br>
    <ion-label>{{dataE.residencia}}</ion-label><br>
    <ion-label>{{dataE.animal}}</ion-label><br>
    <ion-label>{{dataE.ano}}</ion-label><br>
  </div>
</ion-content>
